<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一家一盒</title>
    <link rel="stylesheet" href="../../css/main.css"/>
    <link rel="stylesheet" href="../../css/pccommon.css"/>
    <link rel="stylesheet" href="../../css/personCenter.css"/>

</head>
<body>
<header class="mainHeader">
    <div class="logo">
        <a href="../../goods_main.jsp">
            <img src="../../img_new/LOGO.png" alt="logo"  title="首页" />
        </a>
    </div>

    <ul class="header-icon">
        <li>
            <a href="info.jsp">
                <img src="../../img/personCenter/personCenterIcon.png" alt="personCenterIcon" title="个人中心"/>
            </a>
        </li>
        <li class="header-shopIcon">
            <a href="../../pages/shopCart/cart.jsp">
                <img src="../../img/personCenter/shoppingBusIcon.png" alt="shoppingBusIcon" title="去购物车"/>
            </a>
        </li>
    </ul>
    <ul class="header-nav">
        <li  navName="account"><a href="/yijiayihe/user/info" >账号管理</a></li>
        <li navName="orderInfo"><a href="orderInfo.html">订单管理</a></li>
        <li navName="address" class="header-nav-active" style="border-bottom:3px solid #FF712F;"><a href="address.html">地址管理</a></li>
        <li class="out"><a  href="">安全退出登录</a></li>
    </ul>
</header>
<section id="main">
    <div class="contain" id="address">
        <ul>
            <li>
                <!--没有任何收货地址-->
                <div id="addNewAddrBox" class="box addr-box-size" >
                    <div class="account-box-body" >
                        <div class="noAddr-box-img">
                            <img  src="../../img/personCenter/addrIcon.png" alt="addrIcon"/>
                            <p>您还未设置收货地址</p>
                        </div>
                    </div>
                    <footer class="box-footer" >
                        <div class="btn-box">
                            <button id="addNewAddr">新增收货地址</button>
                        </div>
                    </footer>
                </div>
            </li>
        </ul>
        <div id="addNewAddrAlert" class="mask-box " style="display:none">
            <div class="mask"></div>
            <div class="box alert-box-size addr-mask-box ">
                <h2 class="box-header alert-box-header">添加收货地址<a href="javascript:void(0);" class="fr alertClose">&times;</a></h2>
                <div class="alert-box-body" >
                    <form class="alertInfo">
                        <ul >
                            <li class="alertInfo-L1">
                                <label for="name" style="display:none">收货人姓名</label>
                                <input id="name" type="text" placeholder="*收货人姓名"/>
                                <label for="telPhone" style="display:none">手机号</label>
                                <input id="telPhone" type="text" placeholder="*手机号"/>
                            </li>
                            <li class="alertInfo-L2">
                                <label for="areaCode" style="display:none">区号（选填）</label>
                                <input id="areaCode" type="text" placeholder="区号（选填）"/>
                                <label for="fixedPhone" style="display:none">固定号码（选填）</label>
                                <input id="fixedPhone" type="text" placeholder="固定号码（选填）"/>
                            </li>
                            <li class="alertInfo-L3 addr-select">
                                <label for="pro" style="display:none">请选择省份</label>
                                <select id="pro" >
                                    <option value="请选择省份">请选择省份</option>
                                    <option value="四川省">四川省</option>
                                    <option value="河北省">河北省</option>
                                </select>
                                <label for="city" style="display:none">请选择城市</label>
                                <select id="city" >
                                    <option value="请选择城市">请选择城市</option>
                                    <option value="成都市">成都市</option>
                                    <option value="海南">海南</option>
                                </select>
                                <label for="county" style="display:none">请选择区县</label>
                                <select id="county" >
                                    <option value="请选择区县">请选择区县</option>
                                    <option value="金堂县">金堂县</option>
                                    <option value="锦江区">锦江区</option>
                                </select>
                            </li>
                            <li class="alertInfo-L4">
                                <label for="addrDetail" style="display:none">详细街道楼宇名称/编号</label>
                                <input id="addrDetail" type="text" placeholder="详细街道楼宇名称/编号"/>
                            </li>
                            <li id="checkToggle"  class="uncheck">
                                <input id="setDefaultAddr" type="checkbox" name="setDefaultAddr" style="display:none;"/>
                                <label onclick="setDefaultAddrF();" id="agreen" for="setDefaultAddr" style="color:#707070;font-size:12px;"><i class="rightIcon"><b></b></b></i></i></label>
                                <label class="label" onclick="setDefaultAddrF();" for="setDefaultAddr">设为默认地址</label>
                                <div class="payBtn-box fr">
                                    <a id="saveAddr" href="javascript:void(0);">保存</a>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <!--点击删除按钮时的弹出框-->
        <div id="deleteAlert" data-delete="" class="mask-box" style="display:none">
            <div class="mask"></div>
            <div class="box alert-box-size">
                <h2 class="box-header alert-box-header">提示<a href="javascript:void(0);" class="fr alertClose">×</a></h2>
                <div class="alert-box-body" >
                    <div class="alertInfo">
                        <img src="../../img/personCenter/delIcon.png" alt=""/>
                        <span>您确定要删除该地址吗？</span>
                    </div>
                </div>
                <footer class="box-footer alert-box-footer" >
                    <div class="alertBtn-box">
                        <a href="javascript:void(0);">确定</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>
</body>
<script src="../../js/jquery-1.11.3.min.js"></script>
<script src="../../js/jsAddress.js"></script>
<script src="../../js/personCenter.js"></script>
<script src="../../js/address.js"></script>
</html>