<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一家一盒</title>
    <link href="../../css/weixin-pay.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">
        <div class="mainHeader">
            <div class="logo">
                <a href="goods_main.jsp"><img src="../../img_new/LOGO.png"/></a>
            </div>
            <div class="operate" style="float:right;">
                <a href="pages/user/info.jsp"><img src="../../img_new/user-icon-gray.png"/></a>
                <a href="pages/shopCart/cart.jsp"><img src="../../img_new/shop-icon.png" style="margin-left:                                        35px"/></a>
            </div>
        </div>
    </div>


    <div class="wx-xinxi">
        <p style="padding-top:40px;font-size: 20px;">请您及时付款，以便订单尽快处理！</p>
        <p style="margin-top:20px;">订单号：<span style="margin-right:40px;">10427289218921</span>请您在<span style="color:#FF712F">1小时48分16秒</span>内完成支付，否则订单会自动取消。</p>
        <div class="dw-jiage">
            <p class="wx-jiage">￥198.00</p>
        </div>
    </div>


    <div class="wx-img">
        <div class="wx-erweima">
            <p style="font-size:20px;color: #707070;margin-top:46px;">微信支付</p>
            <div class="erweima-img"><img src="" alt="二维码位" /></div>
            <p style="font-size:14px;color: #444;">请使用微信扫一扫，扫描二维码支付</p>
        </div>
        <div class="wx-shouji">
            <div class="shouji-img"><img src="../../img_new/apple.png" alt="" /></div>
        </div>
    </div>



    <div id="foot-one" style="clear: both">
        <table>
            <tr>
                <td>
                    <p class="service">服务电话</p>

                    <p class="number">400 - 1369 - 400</p>

                    <p class="service">（9:00 - 18:00）</p>
                </td>
                <td id="tab">
                    <p class="tab-one">了解一家一盒</p>

                    <p class="tab-two">一家一盒专注于家庭高频消费品类，通过集采集卖模式将家庭需求直连产地厂商，平台全程采用会员制经营理念，以零利润售卖策略为家庭用户提供全球口碑好货。</p>
                </td>
                <td class="ceall">
                    <p>关注我们</p>
                    <img src="../../img_new/erweima.png" alt=""/>

                    <p><img src="../../img_new/gongzong.png" alt=""/></p>
                </td>
            </tr>
        </table>
    </div>
    <div id="foot-two">
        <p class="fd-one">
            <a href="women.html">关于我们</a>
            <a href="bangzhu.html">帮助中心</a>
            <a href="huiyuan.html">会员服务</a>
            <a href="">供应商招募</a>
            <a href="shangwu.html">商务合作</a>
            <a href="lianxi.html">联系我们</a>
        </p>

        <p class="fd-two">
            Copyright © 2016 四川一家一盒电子商务有限公司 iYihe.com 版权所有<span class="fd-ad">蜀ICP备15032832号</span>
            公司地址：成都市人民南路四段27号商鼎国际2-1-2501室
        </p>
    </div>

</body>
</html>