@charset "utf-8";
/* CSS Document */
.hidden{display:none;}
#content{width:100%;}
#header{ width:100%; height:60px;}
.logo{ margin-left:80px; margin-top:40px; float:left;} 
.logo img{width: 100px;}/*原来160*/
.header_btn{ float:right; margin-right:44px; width:175px; height:40px; line-height:36px; text-align:center; border:2px solid; border-radius:25px; margin-top:39px;}
.header_btn a{ font-size:24px;font-family: 微软雅黑}
#login{ clear:both; text-align:center; margin-top:190px;width: 410px}
#main{ clear:both; margin-top:90px; width: 300px;}
#main .height60{height:36px; position:relative;}
#phone {margin-top:10px;}
.err-title{margin-top: -40px;margin-right: -235px;font-size: 24px;}
.err-title span{background-color: #e06a5e;  border-radius: 10px;color:#fff;margin: 5px;padding: 3px;font-size: 18px}
.text_phon, .text_pass, .text_code, .btn_code{
	background-color: #F4F4F4;color:#95969e;font-size: 14px;
	padding: 8px 0px 7px 20px;width: 100%;border:0px;font-family: "微软雅黑";border-radius:2px;
	border:1px solid transparent;
	line-height:19px;
	}
.text_phon_hover:focus{
	box-shadow: 0 0 4px #FF712F;
	outline:none;
	border:1px solid #FF712F;
	outline-offset:0px;
	color:#2C2C2C;
	border-radius:2px;
	background-color:#fff;
}
.checkCode_box{margin-right:90px;}

button{box-shadow: 0 0 0 0.5px #95969E inset;
		background-image:linear-gradient(to top,#F1F1F1,#FFFFFF);
		border-radius:2px;
		transform:translate(0,-3px);
		position:absolute;
		right:0;
		top:3px;
		}
form h5{height: 20px;padding-top:9px;}
.btn_crea{background-color: #95969e;font-size: 14px;color: #fff;
		  border-radius:2px;
		  box-shadow:0 0 -1px #656565;
}
/*复选框样式*/
#agreenBox{
	background-color:blue;
	vertical-align:middle;
	width:14px;
	height:14px;
	margin-top:-2px;
	display:none;
}
#agreen{
	display:inline-block;
	background-color:rgb(23,143,242);
	vertical-align:middle;
	width:12px;
	height:12px;
	margin-top:-2px;
	border-radius:2px;
	color:#fff;
	position:relative;
	margin-right:2px;
	border:1px solid rgb(23,143,242);
	
}

.uncheck .rightIcon{display:none;}
.uncheck #agreen{
	border:1px solid #888;
	background-color:#fff;
}
.rightIcon,.rightIcon>b{
	display:inline-block;
}
.rightIcon{
	background-color:#fff;
	position:relative;
	width:8px;
	height:5px;
	transform:rotate(-45deg);
	top:3px;
	left:2px;
}
.rightIcon>b{
	background-color:rgb(23,143,242);
	position:absolute;
	right:-1px;
	top:-1px;
	width:7px;
	height:4px;
}
#nav{ height:43px;text-align:center;position: fixed;width: 100%;bottom: 0px;}
#nav span{ font-size:12px; color:#fff;margin-left: 10px;}
#nav img{width: 18px; position: relative;top:-1px;vertical-align:middle;}
#nav li{ width:33.333%;height:24px; font-family: 微软雅黑;background-color: #95969e; 
		padding: 3px 0px;line-height:24px;
		position:relative;
		}
/*#nav li.active{background-image: url(../img_new/botton_red.png)}*/
#nav li.active{background-color:#FF712F;}
.triangle{ /*小三 角形*/
	display:inline-block;
	position:absolute;
	border:8px solid transparent;
	border-left-color:#FF712F;
	right:-14px;
	top:8px;
	z-index:2;
}
.errTip{color:#FF712F;font-size:12px;opacity:0;line-height:30px;overflow:hidden;margin-right:0;width:100%;}
.errTip>img{
	vertical-align:middle;
	margin-top:-2px;
	margin-right:2px;
}
.btn-active{
	background-color:#FF712F;
	box-shadow:0 0 1px #E73B1A;
}
.telnet_phon, .telnet_pass{  padding-left: 10px;height:45px;  border-radius:10px; border:2px solid #fff; border-left:none; background-color:#fff; width:410px;margin-left:-6px;font-size: 18px;font-family:"微软雅黑"}
.input-active{border:2px solid #3b66f3 !important;}
.invi, .find{ display:block; color:#707070; font-size:12px;}
.invi{ float:left;}
.find{ float:right;}
.put_pass{ margin-top:38px;}





.hide{display: none}
.err_bg{background-image: url(../img/err_bg.png);background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}

/*toVip页面样式*/
#main.mainToVip{margin-top:222px;}
.vipButtonBox{height:36px;position:relative;}
.vipPrice{position:absolute;right:10px;top:0;color:#444;font-size:14px;}
.text_button{border:2px solid #f4f4f4;line-height:17px;}

.buttonActive{border:2px solid #FF712F;border-radius:2px;background-color:#fff;}

/*pay页面样式*/
.payButton{display:inline-block;height:19px;width:73px;}
.down,.up{background: url(../img_new/pay_Triangle01.png) no-repeat;width: 10px;height: 5px;float:right;margin-top:7px;margin-right:10px;}
.up{background-image: url(../img_new/pay_Triangle02.png);}
.payDivBtn{border-width:2px;padding:7px 0 6px 17px;width:auto}
.payButtonBox{text-align:center}
.back-list{position:absolute;z-index:1;margin-top:25px;width:300px;background-color: #fff;
	margin-left:-19px;border-radius: 0 0 2px 2px;box-shadow: 0 0 0 1px #D2D2D2 inset;padding:5px 0px 10px 0px;
}
.back-list img{width:94px;height:25px;border-radius:2px;}
.back{width: 60px; height:14px;border-radius:2px;box-shadow: 0 0 0 1px #D2D2D2 inset;background-color:#fff;margin-top:10px;margin-left:36px;}
.back.active{box-shadow: 0 0 0 2px #FF712F inset ;}
.innerImg{height:21px;margin-left:-8px;}
/*success页面样式*/
.success_hr{background-color:#CBCBCB;height:1px;border-radius:0.6px;margin-bottom:36px;}
.success_h1{font-size:24px;color:#444;margin-bottom:36px;font-weight:500;}
.success_h1>img{vertical-align:middle;margin-right:15px;}
.success_goOther{width:240px;height:34px;margin-top:72px;border-radius:17px;box-shadow: 0 0 0 1px #E73B1A;}
.success_goOther>a{display:block;width:240px;height:34px;color:#fff;font-size:14px;
			      background:url(../img_new/success_goOtherBtn.png) no-repeat;
			      
}


















